.bgtn {
  background-color: #ffffff;
  border-bottom: gray 1px solid;
  }
  
  .bgfot{
    background-color: #4eb4e8;
  }
  
  .bgfb{
    background-color: #2baaec;
  }
  
  .btnColor{
    background-color: #26e6c8;
  }
  
  .bgCarousel{
    background-color: #dedede;
  }
  
  .linkColor {
    color: #2baaec;
  }
  
  .lineColor{
    border: 2px solid #26e6c8;
  }
  
  .underLine {
  border: 2px solid  #26e6c8;
  }


/* Main menu */
.nav-link.active {
    border-bottom: 2px solid #4eb4e8;
}