* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  /* font-size: 1.125rem; */
}

h1, h2, h3, h4, h5, .navbar-nav  {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
.navbar-nav {
  font-weight: 400;
}


.bgtn {
  background-color: #ffffff;
  border-bottom: gray 1px solid;
  }
  
  .bgfot{
    background-color: #4eb4e8;
  }
  
  .bgfb{
    background-color: #2baaec;
  }
  
  .btnColor{
    background-color: #26e6c8;
  }
  
  .bgCarousel{
    background-color: #dedede;
  }
  
  .linkColor {
    color: #2baaec;
  }
  
  .underLine {
    border: 2px solid  #26e6c8;
    opacity: 1;
  }


/* Main menu */
.main.navbar {
  padding: 2rem 0;
}

.nav-link.active {
    border-bottom: 2px solid #4eb4e8;
}

.brand-logo {
  max-width: 180px;
}

/* Services */
.service-icon {
  max-width: 60px;
}

.card-title {
    margin-bottom: 1.5rem;
}